<h2 class="title">Post 1</h2>
<img src="/assets/img1.png" alt="" style="height: 400px; width: 80%;">
<p class="container my-3">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque maxime minima
  tenetur. Repellat dolorem totam deserunt numquam neque velit aspernatur, sint,
  ab aliquid aut placeat perferendis eligendi a! Dicta natus repudiandae
  aperiam, modi, voluptate similique at dolorem debitis iure tempora cum, omnis
  perspiciatis. Deserunt ratione nihil molestiae eveniet nemo ipsa asperiores
  molestias ipsam officia sequi, eligendi, aliquid corrupti modi cum eos sunt!
  Necessitatibus cupiditate architecto, placeat dolores deserunt pariatur
  provident qui perspiciatis porro optio esse asperiores earum rem eaque, unde
  magni dolorum accusamus dicta. Suscipit cumque autem laudantium, repellat odit
  sunt quidem expedita libero consequuntur at nemo modi non voluptatem saepe
  dicta accusamus. Magni beatae ullam officia adipisci corrupti est libero
  tempore laboriosam illo optio. Itaque, possimus perferendis! Cumque ad
  accusamus aliquam hic aliquid rem, provident eum consequuntur repellat
  molestias, tempore error saepe perspiciatis optio maxime ipsum! Nostrum
  aliquam, quos minus sit facilis voluptatum illo eveniet quam sed, magnam
  nulla!
</p>
