.links {
    margin-bottom: 30px;
}

.link {
    padding: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 255, 0.5);
    color: #fff;
    text-decoration: none;
}

.link:hover {
    background-color: rgba(0, 0, 255, 0.65);
}